.center-card {
  box-shadow: $box-shadow;
  padding: 1.5rem;
  border-radius: $border-radius;
  transition: all 200ms;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2.4rem;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &__listing {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 8.5rem 8rem 0 2rem;
    height: 100vh;
    overflow-y: auto;

    &::after {
      content: "";
      position: relative;
      bottom: 0;
      left: 0;
      height: 3rem;
      grid-column: 1 / -1;
    }
  }

  &__select {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  &__info {
    line-height: 2.2rem;
    margin-top: 1.4rem;
    grid-column: 1 / span 2;
  }
  &__vaccine-count {
    font-size: 3.5rem;
    line-height: 2.5rem;
    padding-right: 0.3rem;
    display: inline-flex;
    transform: translateY(0.1rem);

    &--zero {
      transform: translateY(0.2rem);
    }
  }
  &__sep {
    background-color: $color-primary-light-3;
    width: 0.4rem;
    height: 0.4rem;
    position: relative;
    display: inline-block;
    border-radius: $border-radius;
    margin: 0.2rem 0.5rem;
  }
  &__vaccine-dose {
    color: $color-primary;

    &--first,
    &--second {
      padding: 0 0.5rem;
      border-radius: 0.3rem;
    }
    &--first {
      background-color: rgba($color-palette-4, 0.3);
    }
    &--second {
      background-color: rgba($color-palette-5, 0.3);
    }
  }

  &--many &__vaccine-count,
  &--many &__vaccine-label {
    color: $color-palette-1;
  }
  &--enough &__vaccine-count,
  &--enough &__vaccine-label {
    color: $color-palette-2;
  }
  &--less &__vaccine-count,
  &--less &__vaccine-label {
    color: $color-palette-3;
  }
}
