.content {
  &__header {
    position: fixed;
    z-index: 99;
    background-color: $color-white;
    top: 0;
    left: calc(27.5% - 5rem);
    width: calc(72.5% + 0.5rem);
    padding: 2rem 5rem 1.25rem 8.5rem;
    height: 7.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7.5rem;
      z-index: 0;
      background-color: $color-white;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      box-shadow: 0 0 25px rgba($color-black, 70%);
      top: 5.6rem;
      width: 95%;
      height: 6px;
      border-radius: 100%;
      left: 2.5%;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      transition: all 500ms;
    }

    &--scrolling {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__header-section {
    z-index: 100;
    display: grid;
    grid-template-columns: 4rem 1fr max-content 7rem max-content;
    grid-template-rows: repeat(2, min-content) 1fr;
    align-items: center;
    position: relative;
  }

  &__title {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    opacity: 1;
    transition: opacity 100ms;

    &-sep {
      margin-left: 0.75rem;
    }

    &--hide {
      opacity: 0;
    }
  }
  &__text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    opacity: 1;
    transition: opacity 100ms;

    &--hide {
      opacity: 0;
    }
  }
  &__selection-label {
    color: $color-secondary;
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
  }
  &__selection-count {
    font-weight: 600;
  }

  &__grid {
    height: 2.5rem;
    grid-row: 1 / span 2;
    background-image: url(../../Assets/grid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.8rem;
    cursor: pointer;

    &:hover {
      background-image: url(../../Assets/grid-hover.svg);
    }
    &--align {
      background-image: url(../../Assets/grid-align.svg);
      &:hover {
        background-image: url(../../Assets/grid-align-hover.svg);
      }
    }
  }

  &__search-icon {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-image: url(../../Assets/search.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    z-index: 102;
    position: relative;

    &:hover {
      background-image: url(../../Assets/search-hover.svg);
    }
  }
  &__search-field {
    padding: 0 1.5rem 0 5.5rem;
    height: 4.5rem;
    font-size: 1.4rem;
    color: #25233c;
    outline: none;
    border: none;
    transition: all 300ms;
    box-shadow: $box-shadow;
    position: absolute;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    z-index: 101;
    background-color: $color-white;
    left: -1.5rem;
    border-radius: $border-radius;
    width: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__header-section--search-enabled &__search-icon {
    background-image: url(../../Assets/search-hover.svg);
  }
  &__header-section--search-enabled &__search-field {
    width: calc(100% - 3rem);
    opacity: 1;
    visibility: visible;
  }

  &__live {
    padding-left: 1rem;
    position: relative;
    color: $color-palette-1;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-block;

    @keyframes live {
      0% {
        opacity: 0.25;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.25;
      }
    }

    &::after {
      content: "";
      background-color: $color-palette-1;
      width: 6rem;
      height: 6rem;
      left: 0;
      top: 55%;
      transform: translateY(-50%) scale(0.1);
      transform-origin: left;
      position: absolute;
      border-radius: 5rem;

      animation: live 2s infinite linear;
    }

    &--updating {
      transition: all 3s;
      color: $color-palette-2;

      &::after {
        transition: all 3s;
        animation: live 2s 1 backwards linear;
        background-color: $color-palette-2;
      }
    }
  }

  &__live-text,
  &__updating-text {
    transition: all 300ms;
  }

  &__live-text {
    transform: translateX(0);
    opacity: 1;
    top: 0;
    position: absolute;
  }
  &__updating-text {
    opacity: 0;
    position: relative;
    left: 1rem;
  }

  &__live--updating &__live-text {
    transform: translateX(-1rem);
    opacity: 0;
  }
  &__live--updating &__updating-text {
    left: 0rem;
    opacity: 1;
  }
}
