.logo {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bold {
    color: $color-secondary;
    font-size: 1.45rem;
    font-weight: 700;
    line-height: 1.6rem;
  }
  &__thin {
    font-size: 1.2rem;
    line-height: 1.2em;
    font-weight: 500;
  }
}
