.message {
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  grid-template-rows: 5rem repeat(2, min-content);
  justify-content: center;
  row-gap: 0.2rem;
  padding: 1.5rem;
  margin-top: 30vh;
  width: calc(100% - 8rem);

  &__icon {
    display: flex;
    justify-content: center;
    & > img {
      height: 4rem;
    }
  }
  &__title,
  &__text {
    display: flex;
    justify-content: center;
  }

  &--warning &__title {
    color: $color-secondary;
  }
  &--error &__title {
    color: $color-palette-3;
  }
}
