.notifier {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  cursor: pointer;

  &__text {
    grid-column: 2 / -1;
  }
  &__ripple {
    background-color: $color-secondary;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: ripple 0.7s linear infinite;
    transition: all 1500ms;
    transform: translate(0.5rem, 0) scale(0);

    &--visible {
      transform: translate(0.36rem, 0.02rem) scale(0.6);
    }
  }
  &__checkbox {
    &--elevated {
      .checkbox-button {
        & > input:checked ~ .checkbox-button__checkmark {
          box-shadow: none;
          transition: box-shadow 1000ms 500ms;
        }
      }
    }
    .checkbox-button {
      width: 2rem;
      height: 2rem;

      &__checkmark {
        width: 2rem;
        height: 2rem;

        &::after {
          left: 5.6px;
          top: 2px;
          width: 5px;
          height: 10px;
        }
      }
    }
  }
  &__checkbox,
  &__ripple {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba($color-secondary, 0.3),
        0 0 0 0.5em rgba($color-secondary, 0.3),
        0 0 0 1.5em rgba($color-secondary, 0.3),
        0 0 0 2.5em rgba($color-secondary, 0.3);
    }
    100% {
      box-shadow: 0 0 0 0.5em rgba($color-secondary, 0.3),
        0 0 0 1.5em rgba($color-secondary, 0.3),
        0 0 0 2.5em rgba($color-secondary, 0.3),
        0 0 0 4em rgba($color-secondary, 0);
    }
  }
}
