.notifier {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 3rem min-content;
  align-items: center;
  cursor: pointer;

  &__text {
    grid-column: 2 / -1;
  }
  &__ripple {
    background-color: $color-secondary;
    width: 5em;
    height: 5em;
    animation: ripple 0.7s linear infinite;
    transition: all 1500ms;
    border-radius: 50%;
    transform: translate(-1.8rem, 0.02rem) scale(0);

    &--visible {
      transform: translate(-1.8rem, 0.02rem) scale(0.29);
    }
  }
  &__checkbox {
    &--elevated {
      .checkbox-button {
        & > input:checked ~ .checkbox-button__checkmark {
          box-shadow: none;
          transition: box-shadow 1000ms 500ms;
        }
      }
    }
    .checkbox-button {
      width: 2rem;
      height: 2rem;

      &__checkmark {
        width: 2rem;
        height: 2rem;

        &::after {
          left: 5.6px;
          top: 2px;
          width: 5px;
          height: 10px;
        }
      }
    }
  }
  &__checkbox,
  &__ripple {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(243 156 18 / 30%), 0 0 0 1em rgb(243 156 18 / 30%),
        0 0 0 2em rgb(243 156 18 / 30%), 0 0 0 3.5em rgb(243 156 18 / 30%);
    }
    100% {
      box-shadow: 0 0 0 1em rgb(243 156 18 / 30%),
        0 0 0 2em rgb(243 156 18 / 30%), 0 0 0 3.5em rgb(243 156 18 / 30%),
        0 0 0 6rem rgb(243 156 18 / 0%);
    }
  }
}
