.thanks {
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  color: $color-primary-light-2;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3rem;
    color: $color-primary;

    &__bold,
    &__thin {
      font-size: 1.4rem;
    }
  }
}
