// COLORS
$color-primary: #25233c;
$color-primary-light-1: #6c757d;
$color-primary-light-2: #b3bfca;
$color-primary-light-3: #d1d1d1;

$color-secondary: #f39c12;

$color-palette-1: #2ecc71;
$color-palette-2: #f1c40f;
$color-palette-3: #ff503e;

$color-palette-4: #3498db;
$color-palette-5: #9b59b6;

$color-white: #fff;
$color-black: #000;

// $box-shadow: 0 3px 15px -3px rgba($color-primary, 15%);
$box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
$box-shadow-hover: rgb(50 50 93 / 20%) 0px 3px 20px -5px,
  rgb(0 0 0 / 12%) 0px 20px 35px -8px;

// FONT
$default-font-size: 1.6rem;

// BORDER
$border-radius: 0.8rem;

// FONT
$primary_font_family: "Poppins", sans-serif;
